<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-nfc-id" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Cordova NFC ID Plugin</name>
    <js-module name="NFCIDPlugin" src="www/NFCIDPlugin.js">
        <clobbers target="cordova.plugins.NFCIDPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NFCIDPlugin">
                <param name="android-package" value="com.cordova.plugin.NFCIDPlugin" />
            </feature>
        </config-file>
        <source-file src="src/android/NFCIDPlugin.java" target-dir="src/your/package/name" />
    </platform>
</plugin>
