<?xml version='1.0' encoding='utf-8'?>
<plugin id="de.meko.nfc.id" version="1.0.6" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Cordova NFC ID Plugin</name>
    <js-module name="NFCIDPlugin" src="www/NFCIDPlugin.js">
        <clobbers target="cordova.plugins.NFCIDPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NFCIDPlugin">
                <param name="android-package" value="de.meko.nfc.id.NFCIDPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.NFC" />
            <uses-feature android:name="android.hardware.nfc" android:required="true" />
        </config-file>
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application/activity[@android:name='MainActivity']">
            <activity android:name="MainActivity">
                <intent-filter>
                    <action android:name="android.nfc.action.TAG_DISCOVERED" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </activity>
        </edit-config>
        <source-file src="src/android/NFCIDPlugin.java" target-dir="src/de/meko/nfc/id" />
    </platform>
</plugin>
